.good-food {
    max-width: 1200px;
    margin: 5rem auto;
}
.foods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.good-food > h2 {
    font-size: 3.5em;
    padding-bottom: .5em;
    text-align: center;
    animation: moveLeftRight 1.5s ease-out;
}
.food-image {
    width: 32%;
    margin-bottom: 10px;
}
.img {
    width: 100%;
    transition: all 0.5s;
}
.img:hover {
    transform: scale(1.05);
}
@keyframes moveLeftRight {
        0% {
            opacity: 0;
            transform: translatex(50px);
        }
        80% {
            transform: translatex(-10px);
        }
        100% {
            opacity: 1;
            transform: translatex(0);
        }
    }

@media (max-width: 768px) {
    .food-image {
    width: 50%;
    height: auto;
    margin-bottom: 0px;
    }
    .img {
        height: 100%;
    }
    .img:hover {
    transform: scale(1);
}
    .good-food > h2 {
        font-size: 2.5em;
        padding-bottom: .5em;
        text-align: center;
    }
}
@media (max-width: 425px) {
    .good-food > h2 {
        font-size: 2em;
    }
}
@media (max-width: 375px) {
    .good-food > h2 {
        font-size: 1.5em;
    }
}
@media (max-width: 320px) {
    .good-food > h2 {
        font-size: 1.2em;
    }
}