.footer {
    position: relative;
    height: 400px;
    overflow: hidden;
}
.logo-footer {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: var(--white-color);
    z-index: 2;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
}
.logo-text {
    position: absolute;
    font-size: 2em;
    top: 25%;
    left: 2.5%;
}
.background-footer {
    position: absolute;
    width: 110em;
    height: 80em;
    border-radius: 50%;
    background-color: var(--dark-green);
    opacity: .8;
    bottom: -1000px;
    left: -200px;
}
.footer-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* text-align: center; */
}
.footer-menu > li > a {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    position: relative;
    padding: 0px 30px;
    /* z-index: 1; */
}
.footer-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer-icon {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    position: relative;
    margin-top: 20px;
}
.logo-ft {
    width: 100%;
}
@media (max-width: 1440px) {
    .background-footer {
        left: -180px;
        bottom: -960px;

    }
}
@media (max-width: 1224px) {
    .background-footer {
        left: -265px;
    }
}
@media (max-width: 1024px) {
    .background-footer {
        left: -360px;
    }
}
@media (max-width: 849px) {
    .background-footer {
        left: -450px;
    }
}
@media (max-width: 768px) {
    .background-footer {
        left: -475px;
    }
}
@media (max-width: 425px) {
    .background-footer {
        left: -650px;
        top: 150px;
    }
    .footer-center {
        position: relative;
        top: 50px;
    }
    .logo-footer {
        width: 200px;
        height: 200px;
    }
    .footer-menu > li > a {
        font-size: 1.2em;
    }
}
@media (max-width: 375px) {
    .footer-menu > li > a {
        font-size: 1em;
    }
}
@media (max-width: 320px) {
    .footer-menu > li > a {
        padding: 0px 20px;
    }
    .background-footer {
        left: -700px;
        top: 120px;
    }
}