:root {
    /* color */

    --off-white: #FAFAFA;
    --light-orange: #F19A33;
    --light-green: #B2C9A3;
    --dark-green: #387546;
    --white-color: #FFFFFF;
    --dark-gray: #383833;

    /* font */

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    overflow-x: hidden;
}